.color-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  transition: background-color 0.3s ease;
}

.color-code-container,
.icon-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-code {
  background-color: rgba(0, 0, 0, 0.562);
  padding: 0.625rem 1.25rem;
  border-radius: 0.625rem;
  font-weight: bold;
  font-size: 1.875rem;
}

.icon-container {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

.color-column:hover .icon-container {
  opacity: 1;
  pointer-events: auto;
}

.icon {
  font-size: 1.5rem;
  margin: 0 0.9375rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icon:hover {
  transform: scale(1.2);
}

@media (max-width: 48rem) { /* 768px / 16 = 48rem */
  .color-code {
    font-size: 1.25rem; /* 20px / 16 = 1.25rem */
  }
  .icon {
    font-size: 1.25rem; /* 20px / 16 = 1.25rem */
    margin: 0 0.9375rem; /* 15px / 16 = 0.9375rem */
    cursor: pointer;
    transition: transform 0.2s ease;
  }
}